---
title: Dynatrace Ruxit Service Broker for Pivotal Cloud Foundry&reg; 
owner: Partners
---

This documentation describes the Dynatrace Ruxit Service Broker tile for Pivotal Cloud Foundry&reg; (PCF). 

Dynatrace Ruxit is an application performance monitoring solution that you can use for your PCF applications. The PCF tile for Dynatrace Ruxit installs the Dynatrace Ruxit Service Broker as an application, registers it as a Service Broker on Cloud Foundry, and exposes its service plans on the Marketplace. This simplifies the integration of Dynatrace Ruxit with your Cloud Foundry applications. 

The Dynatrace Ruxit Service Broker tile requires access to an existing Ruxit account. If you do not have a Ruxit account, you can sign up for a 30 day free trial at: http://www.dynatrace.com/en/ruxit/try-now/.

## <a id="snapshot"></a>Product Snapshot

<dl>
<dt>Current Dynatrace Ruxit Service Broker tile for Pivotal Cloud Foundry&reg; Details:</dt>
<dd><strong>Version</strong>: 1.0 </dd>
<dd><strong>Release Date</strong>: 06-20-2016</dd>
<dd><strong>Software component version</strong>: Dynatrace Ruxit Service Broker 1.0</dd>
<dd><strong>Compatible Ops Manager Version(s)</strong>: 1.6x, 1.7</dd>
<dd><strong>Compatible Elastic Runtime Version(s)</strong>: 1.4.x, 1.5.x, 1.6.x, 1.7.x</dd>
<dd><strong>vSphere support?</strong> Yes</dd>
<dd><strong>AWS support?</strong> Yes</dd>
</dl>

## <a id="ruxit"></a>Dynatrace Ruxit 

### <a id="overview"></a> Overview

Ruxit detects clustered apps and provides visibility into their transaction flows, from the user level to the database and code level. Ruxit also creates and adapts real-time dependency graphs of all your pushed apps and connected databases. If Ruxit detects an anomaly in your environment, it directs you to the root cause with these dependency graphs and the data it collects. 

The following list describes the key features of Ruxit:

* **AI Powered**: Ruxit Artificial Intelligence locates performance issues and pinpoints underlying root causes in real time.

* **Analytical**: Ruxit gives you operational insight and the ability to oversee and manage web-scale applications. 

* **Self learning**: Ruxit learns your environment and understands the complexity of your distributed applications.

* **Provides SaaS convenience with data on-prem**: Ruxit is available as a SaaS offering, but also as a managed solution on your own infrastructure.

See the Dynatrace website for more details on [Ruxit](http://www.dynatrace.com/en/ruxit). 

### <a id="vies"></a> Data Views

Dynatrace Ruxit offers multiple views for application and deployment data, including the following:

* Common metrics for a service, such as response time and failure rate
	<%= image_tag "common-metrics.png" %>

* Real time model of a request flow through your services
	<%= image_tag "real-time-model.png" %>

* Detailed response time contribution breakdown for service methods
	<%= image_tag "detailed-response-dashboard.png" %>

* Detailed waterfall performance breakdown for webpages.
	<%= image_tag "waterfall-analytics.png" %>

* Java Managed Memory metrics
	<%= image_tag "java-managed-memory.png" %>

* Detailed CPU consumption break-down per process
	<%= image_tag "cpu-consumption.png " %>



## <a id="upgrade"></a> Upgrade to the Latest Version

Not applicable for version 1.0. See the [Installing Ruxit](./installing.html) topic for installation instructions. 

## <a id="limitations"></a>Limitations

You can bundle the Dynatrace Ruxit Agent with the [Java buildpack version 3.8](https://network.pivotal.io/products/buildpacks) available on PivNet (as of June 2016). Dynatrace recommends that you use the latest version of the Ruxit Agent. Overwrite the default version with `version: 1.+`. 

Future releases of Dynatrace Ruxit for PCF will support Node.js and PHP buildpacks.

## <a id="feedback"></a>Feedback

Please provide any bugs, feature requests, or questions to the [Pivotal Cloud Foundry Feedback list](mailto:pivotal-cf-feedback@pivotal.io).