---
title: Installing the Dynatrace Ruxit Service Broker Tile
owner: Partners
---

This topic provides instructions for how to install and configure the Dynatrace Ruxit Service Broker tile. 

The Dynatrace Ruxit Service Broker tile requires access to an existing Ruxit account. If you do not have a Ruxit account, you can sign up for a 30 day free trial at: http://www.dynatrace.com/en/ruxit/try-now/.

## <a id="install"></a>Install with Pivotal Ops Manager
 
To install Ruxit, follow the procedure for installing Pivotal Ops Manager tiles:

1. Download the product file from the [Pivotal Network](https://network.pivotal.io/products/p-dynatrace-ruxit).

1. Upload the product file to your Ops Manager installation. 

1. Click **Add** next to the uploaded Dynatrace Ruxit Service Broker in the Ops Manager **Available Products** view to add Ruxit to your staging area.
	<%= image_tag "available-products.png" %>


1. Click the newly added tile.
	<%= image_tag "dynatrace-ruxit-tile.png" %>

1. Configure the **Assign Networks** and **Assign Availability Zones** sections. 
	<%= image_tag "assign-availability-zones.png" %>

1. Configure the **Dynamic Service Plans** section:
	1. Click **Add** to create a new plan for a Ruxit environment. 
	<%= image_tag "dynamic-service-plans-completed.png" %>
	1. Enter a plan name. 
	1. Complete the **tenant** and **token** fields using the `environmentId` and `token` values from your Ruxit environment. You can find this information in your Ruxit dashboard under the **Deploy Ruxit** section.
	1. Enter the URL for the server to connect to the Ruxit Agent. For Ruxit service the URL is `https://{environmentID}.live.ruxit.com:443/communication`.
	1. Repeat the steps above for each additional Ruxit environment you require.

1. Configure the **Service Access** section by selecting the **Enable global access** checkbox to publish your services to all users in the Services Marketplace.
	<%= image_tag "service-access.png" %>

1. Return to the Installation Dashboard and check that the tile is green. Click **Apply Changes** to install the Dynatrace Ruxit Service Broker. 
	<%= image_tag "dynatrace-ruxit-tile-completed.png" %>